<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" name="" id="email" class="form-control" formControlName="email" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="" id="password" formControlName="password" class="form-control" placeholder="">
                      </div>
                    <button type="submit" name="" id="" class="btn btn-primary btn-lg btn-block">Iniciar</button>
                </form>
                <div class="form-group mt-2">
                    <p class="text-center">Aun no tienes una cuenta? Registrate <a href="" [routerLink]="['/register']">Aquí</a></p>
                </div>
                <div class="form-group mt-2">
                    <p class="text-center">Olvidaste tu contraseña?<a href="" [routerLink]="['/forgot-password']"> Recuerdame</a></p>
                </div>
            </div>
        </div>
    </div>
</div>